.listTaches-item{
    display: flex;
    border: 1px solid #CCCCCC;
    padding: 10px;
    justify-content: space-between;
}
.top{
    display: flex;
    justify-content: space-between;
}
.itemLeft {
    display: flex;
}
.itemRight {
    background-color: red;
    padding: 5px;
    border-radius: 5px;
}
.listTaches-item-description{
    padding-left: 5px;
    font-size: 14px;
    color: #666363;
}
.listTaches-item-name{
    margin-top: 5px;
}
.listTaches-item-description{
    margin-top: 5px;
}
.deleteBtn{
    color: red;
    border: 0px;
    margin-left: 30px;

}
.logout-btn {
    color: red;
    border: 0px;
    /* margin-left: 30px; */
}